
body {
    color: #839496;
    background-color: #002b36;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
}

.container {
    background-color: #073642;
    width: 32.7em;
    margin: 0 auto;
    line-height: 1em;
    border-style: groove;
    border-color: #073642;
    border-width: 1px;
}

.container span {
    display: inline-block;
    width: 5em;
    margin: 0.5em 1em auto;
}

.container input {
    display: inline-block;
    width: 15.5em;
    margin: 0 auto;
}

.container textarea {
    display: inline-block;
    width: 23.9em;
    height: 10em; 
    margin: 0.5em 0 auto;
    resize: vertical;
}

#submit_btn{
    width: auto;
    margin: 0.5em 1em 1em 28.5em;

    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    background-color: #657b83;
    color: #002b36;

    border-style: ridge;
    border-color: #073642;
    border-width: 3px;
}

input[type="file"] {
    display: none;
}

#subject {
    display: inline;
}

#reply_name {
    display: inline;
}

.cstm_btn {
    display: inline;
    width: auto;
    margin: 0.5em 1em auto;

    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    background-color: #657b83;
    color: #002b36;

    border-style: ridge;
    border-color: #073642;
    border-width: 3px;
}

.reply_link {
    font-weight: bold;
}

.summary {
    color: #586e75;
    border-style: dotted;
    border-color: #073642;
    border-width: 3px;

}

.name {
    font-weight: bold;
}

.subject {
    font-weight: bold;
    color: #cb4b16;
}

.greentext {
    color: #859900;
}


input[type="text"], textarea {
    //background-color: #586e75;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    color: #839496;
    background-color: #002b36;

    border-style: groove;
    border-color: #073642;
    border-width: 1px;
}


.op {
}

.op_container {
    display: block;
}

.thread {
    display: block;
}

.reply_container {
    max-width: 75%;
}

.side_arrows {
    float: left;
    display: block;
    margin: 0 5px 0 0px;
}

.post {
    min-width: 25em;
    margin: 5px 0px 0px 5px;
    display: table;
    background-color: #073642;
    border-style: groove;
    border-color: #073642;
    border-width: 1px;
}

.post_info {
    margin: 5px 5px 0 10px;
}

.post_text {
    margin: 10px 25px 15px 25px;
}

.file{
    margin: 5px;
}

.file_info{
    display: block;
}

.file_thumb{
    float: left;
    margin-left:10px;
    margin-right:20px;
    margin-top:3px;
    margin-bottom:10px;
}

hr {
    border-color: #073642;
    clear: both;
}

a {
    color: #2aa198;
}


.nav_bar {
    font-weight: bold;
}

.t_stats {
    float: right;
}

.quotes {
    margin: 5px 5px 5px 0px;
}

.banner {
    margin: 20px 0px 20px 0px;
    height: 100px;
}

.selected {
    border-style: ridge;
    border-color: #2aa198;
}

