<!doctype html>
<html>
{# TODO: Remove the junk stamp #}
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="style.css") + "?q=" + range(1,9000)|random|string }}">
<link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}">
{%- block title -%}
    <title>ib</title>
{%- endblock -%}

<div class="banner">
    <center>
        <img src="{{ url_for("static", filename="/banners/banner_" + range(1, 16)|random|string + ".png") }}">
    </center>
</div>

<div class="container">
    {%- block form -%}
    {%- endblock -%}
</div>
<hr>

{%- block navbar -%}
{%- endblock -%}

{%- block thread -%}
{%- endblock -%}

{%- block scripts -%}
    {%- include "script.html" -%}
{%- endblock -%}

</html>
