{%- extends "base.html" -%}

{%- block form -%}
    <center><h2 class="title">Start a New Thread</h2></center>
    <form action="{{ url_for("post") }}" method="post" id="post_form" enctype="multipart/form-data">
        <div id="name"> <span>Name</span>
            <input type="text" name="name">
        </div>
        <div id="subject"> <span>Subject</span>
            <input type="text" name="subject">
        </div>
            <label for="file_btn" class="cstm_btn">
            <span>Select File</span>
            </label>
            <input type="file" name="file" id="file_btn" accept="image/*">
        <div id="comment"> <span>Comment</span>
            <textarea id="text" name="text" form="post_form"></textarea>
        </div>
        <input type="submit" id="submit_btn" value="post">
    </form>
{%- endblock -%}

{%- block thread -%}
    {%- set thread_tail = 5 -%}
    {%- set board = true -%}
    {%- for thread in threads -%}
        {% include "thread.html" %}
    {%- endfor -%}
{%- endblock -%}

