{# TODO: Use macros #}
{%- set thread_url = url_for("thread", thread_id=thread["ID"]) -%}
<div class="thread" id="t{{ thread["ID"] }}">
    <div class="op_container" id="pc{{ thread["ID"] }}">
        <div class="op" id="p{{ thread["ID"] }}">
            <div class="file" id="f{{ thread["ID"] }}">
                <div class="file_info" id="fi{{ thread["OP"]["ID"] }}">
                    File: 
                    <a href="{{ url_for("files", id=thread["OP"]["FILE"]["ID"]|int) }}" target="_blank">{{ thread["OP"]["FILE"]["NAME"] }}</a>
                    ({{ thread["OP"]["FILE"]["SIZE"] // 1024 }}KB, {{ thread["OP"]["FILE"]["RES"] }})
                </div>
                <a id="ft{{ thread["OP"]["FILE"]["ID"]|int }}" class="file_thumb"target="_blank" onclick="expand_file('{{ thread["OP"]["FILE"]["ID"]|int }}');return false;">
                    <img id="tn{{ thread["OP"]["FILE"]["ID"]|int }}" src="{{ url_for("thumbs", id=thread["OP"]["FILE"]["ID"]|int) }}" alt=":^(">
                </a>
            </div>
            <div class="post_info" id="pi{{ thread["ID"] }}">
                {%- if thread["SUBJECT"] -%}
                    <span class="subject">{{ thread["SUBJECT"] }} </span>
                {%- endif -%}
                <span class="name">
                    {{ "Anonymous" if not thread["OP"]["USERNAME"] else thread["OP"]["USERNAME"] }}
                </span>
                <span class="time"> {{ thread["OP"]["TIME"] }} </span>
                <span class="post_num">
                    <a href="{{ thread_url }}#p{{ thread["ID"] }}" onclick=highlight({{ thread["ID"] }}) title="Link to this post">No.</a>
                    <a 
                    {% if board -%}
                      href="{{ thread_url }}?q={{ thread["ID"] }}"
                    {% else -%}
                        href="javascript:reply({{ thread["ID"] }})"
                    {%- endif -%}
                    title="Reply to this post">{{ thread["ID"] }}</a> </span>
                {%- if board -%}
                    <span>
                         [<a href="{{ thread_url }}" class="replylink">Reply</a>]
                    </span>
                {%- endif -%}
                {%- if thread["OP"]["LINKS"] -%}
                    <span class="quotes">&#x07f7
                        {%- for l in thread["OP"]["LINKS"] -%}
                            {%- if not board -%}
                                {%- set highlight = " onclick=highlight(" ~ l ~ ") " -%}
                            {%- else -%}
                                {%- set highlight = "" -%}
                            {%- endif -%}
                            {{ (" <a href=" ~ thread_url ~ "#p" ~ l ~ highlight ~ ">>>" ~ l ~ "</a>")|safe }}
                        {%- endfor -%}
                    </span>
                {%- endif -%}
            </div>
            <blockquote class="post_text" id="t{{ thread["ID"] }}">
                {{ thread["OP"]["TEXT"]|safe }}
            </blockquote>
            {%- if board -%}
            <span class="summary">
                {{ thread["R_COUNT"] }} replies and {{ thread["I_COUNT"] }} images by {{ thread["P_COUNT"] }} posters total.
                <a href="{{ thread_url}}" class=replylink">Click here</a> to view.
            </span>
            {%- endif -%}
        </div>
    </div>

    {%- for post in thread["POSTS"][-thread_tail:] -%}
        <div class="reply_container" id="pc{{ post["ID"] }}">
            <div class="side_arrows" id="sa{{ post["ID"] }}">>></div>
            <div class="post" id="p{{ post["ID"] }}">
                <div class="post_info" id="pi{{ post["ID"] }}">
                    <span class="name">
                        {{ "Anonymous" if not post["USERNAME"] else post["USERNAME"] }}
                    </span>
                    <span class="time"> {{ post["TIME"] }} </span>
                        <span class="post_num">
                            <a href="{{ thread_url }}#p{{ post["ID"]|string }}"
                                {%- if not board %} onclick=highlight({{ post["ID"] }}) {% endif -%} title="Link to this post">No.</a>
                            <a 
                            {% if board -%}
                                href="{{ thread_url }}?q={{ post["ID"] }}"
                            {% else -%}
                                href="javascript:reply({{ post["ID"] }})"
                            {%- endif -%}
                            title="Reply to this post">{{ post["ID"] }}</a> </span>
                    {%- if post["LINKS"] -%}
                        <span class="quotes">&#x07f7
                            {%- for l in post["LINKS"] -%}
                                {%- if not board -%}
                                    {%- set highlight = " onclick=highlight(" ~ l ~ ") " -%}
                                {%- else -%}
                                    {%- set highlight = "" -%}
                                {%- endif -%}
                                {{ (" <a href=" ~ thread_url ~ "#p" ~ l ~ highlight ~ ">>>" ~ l ~ "</a>")|safe }}
                            {%- endfor -%}
                        </span>
                    {%- endif -%}
                    {%- if post["FILE"] -%}
                        <div class="file" id="f{{ post["ID"] }}">
                            <div class="file_info" id="fi{{ post["ID"] }}">
                                File: 
                                <a href="{{ url_for("files", id=post["FILE"]["ID"]|int) }}" target="_blank">{{ post["FILE"]["NAME"] }}</a>
                                ({{ post["FILE"]["SIZE"] // 1024 }}KB, {{ post["FILE"]["RES"] }})
                            </div>
                            <a id="ft{{ post["FILE"]["ID"]|int }}" class="file_thumb"target="_blank" onclick="expand_file('{{ post["FILE"]["ID"]|int }}');return false;">
                                <img id="tn{{ post["FILE"]["ID"]|int }}" src="{{ url_for("thumbs", id=post["FILE"]["ID"]|int) }}" alt=":^(">
                            </a>
                        </div>
                    {%- endif -%}
                </div>
                <blockquote class="post_text" id="t{{ post["ID"] }}">
                    {{ post["TEXT"]|safe }}
                </blockquote>
            </div>
        </div>
    {%- endfor -%}
</div>
<hr>
